/.quarto/
/_site/
*.html
!dissertation/**/*.html
*.pdf
!dissertation/**/*.pdf

# If using R
.Rproj.user
.Rhistory
.RData
.Ruserdata

# If using Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/


**/*.quarto_ipynb
docs/sessions/
